.large-hero {
  &__name {
    position: relative;
    left: 0;
    top: 0;
    background-color: $lightGreen;
    width: 100vw;
    height: 300px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    //box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);

    h1 {
      font-size: 3.5em;
      color: black;
      padding: 20px;
      margin: 0;
    }

    @mixin atSmall {
      h1 {
        font-size: 5rem;
      }
    }

    @mixin atLarge {
      width: 500px;
      height: 500px;
    }
  }

  &__about-me {
    width: 100%;
    max-width: 500px;
    text-align: center;
    font-size: 1.2rem;

    margin-top: 50px;

    /* @mixin flexTrans {
      margin-top: 200px;
    } */

    @mixin atLarge {
      text-align: center;
      font-size: 1.2rem;
      margin-top: 200px;
    }

    &__headshot {
      border-radius: 55%;
      height: 200px;
      width: auto;
      box-shadow: -2px 2px 5px 1px rgba(0, 0, 0, 0.3),
        2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    }

    &__title {
      font-weight: 200;
      text-align: center;
      padding: 0px 50px;
    }

    &__sub-title {
      padding-top: 10px;
      margin-bottom: 0px;
    }

    &__text {
      line-height: 2em;
      text-align: center;
    }
  }
}
